<h2><%= month.name %></h2>
<div class="calendar">
  <div class="calendar__dow">
    <div>Mo</div>
    <div>Di</div>
    <div>Mi</div>
    <div>Do</div>
    <div>Fr</div>
    <div>Sa</div>
    <div>So</div>
  </div>
  <%= render partial: "week", collection: month.weeks, as: :week %>
</div>
<div data-prev-month-url="<%= url_for controller: "reservations", action: "month", date: (month.first_of_month - 1.month) %>"></div>
<div data-next-month-url="<%= url_for controller: "reservations", action: "month", date: (month.first_of_month + 1.month) %>"></div>
