<div id="new_reservation_box">
	<%= error_messages_for 'reservation' %>
	<h3>Reservation ändern</h3>
	<fieldset>
		<% form_for :reservation, @reservation, :url => { :action => :update, :id => @reservation } do |form| -%>
		<%= render :partial => 'reservation', :locals => { :form => form } %>


		<%= submit_tag "Speichern", :class => "submit" %>
		<% end %>
	</fieldset>
<%= link_to 'Zurück', :action => 'index' %>
</div>
