<%= turbo_frame_tag "modal" do %>
  <div class="reservation-sheet">
    <header class="day-detail__head">
      <h2>Reservation anpassen</h2>
    </header>

    <%= render "form", reservation: @reservation %>
  </div>
<% end %>
