#reservationskalender {
	padding:0;
	table {
		width:100%;
		max-width:800px;
		table-layout:fixed;
		border-collapse:collapse;
		tr {
			vertical-align:top;
			height:3.5em;
			td.inactive {
				color:silver;
			}
			td.free {
			}
			td.occupied {
				background-color:rgb(240, 240, 240);
			}
			th, td {
				width:14%;
				text-align:center;
				border: 1px black solid;
				padding:0;
				p {
					overflow:ellipsis;
					margin:0;
					font-size:0.7em;
				}
				p.open {
					background-color:rgb(230, 255, 254);
				}
				p.closed {
					background-color:rgb(229, 252, 180);
				}
			}
		}
	}
}