div#side {
	width:100%;
}
div#side li {
	font-size:1.25em;
	margin-bottom:0.5em;
}
div#main {
	margin-left:0em;
}
table#calendar-table {
	width:100%;
	border-collapse:collapse;
}
a {
	margin-top:3em;
	margin-bottom:3em;
}
div#loginpage {
	width:100%;
}
div#loginpage img {
	display:none;
}
