<h2>Brüschhüsli-Reservations-Tool Hilfe</h2>

<h3>Reservationen</h3>
<ul>
	<li>Das Brüschhüsli kann reserviert werden, in dem man in der Agenda-Tabelle ("Reservationen"-link oben Links) auf den zu reservierenden Tag klickt und das aufspringende Formular ausfüllt

<h3>Benutzer</h3>